#demo-container {
  padding: 10px;
  position: relative;
  height: 800px;
  overflow: auto;
}

.airport-desc {
  padding: 10px 10px;
  height: 5em;
  font-style: italic;
}

.distance {
  padding: 0 10px;
  font-style: italic;
}

.tt-dropdown-menu {
  width: 400px;
  margin-top: 6px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 5px;
  font-size: 12px;
  line-height: 16px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #ccc;
}

.tt-suggestion p {
  margin: 0;
}

.suggestion-sub {
  float: right;
  font-size: 10px;
}

.suggestion-empty {
  padding: 3px 10px;
  font-style: italic;
}
